  <footer class="footer mt-auto py-3 bg-dark fixed-bottom">
  <div class="container">
    <span class="text-muted">Copyright &copy <%= link_to "Zak Dutton", "https:zakdutton.ninja", class:"text-muted" %> </span>
  </div>
</footer>
